<div class="index-page ">
    <div class="page-header top" data-parallax="true">
        <div class="container">
            <div class="pull-left">
                <h1 class="top-page-title">{{'GENERIC.TOP_PAGE_TITLE' | translate}}</h1>
            </div>
            <div class="pull-right">
                <ul id="menu-menu-top" class="menu-social">
                    <li id="menu-item-42">
                        <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank" data-original-title="Like us on Facebook">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                </ul>    
                <div class="cart-header">	
                    <div class="dropdown">
                        <a id="cardLink" aria-haspopup="true">
                            {{'GENERIC.CARD' | translate}} ( 0 ) <i class="fa fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="page-header" data-parallax="true">
        <div class="container">
          111  
        </div> 
    </div>
    <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="./index.html"><i class="fa fa-home"></i> {{'GENERIC.HOME' | translate}}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <div class="form-group group-search-header">
                    <div class="input-group">
                        <input type="text" class="form-control search-header" #searchInput placeholder="Tìm Kiếm">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-white btn-raised btn-fab btn-round btn-search-header"
                                (click)="search(searchInput.value)">
                                <i class="material-icons">search</i>
                            </button>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav ml-auto">
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <i class="material-icons">apps</i> {{'GENERIC.PRODUCTS' | translate}}
                        </a>
                        <div class="dropdown-menu dropdown-with-icons">
                            <a href="./index.html" class="dropdown-item">
                                <i class="material-icons">spa</i> {{'GENERIC.COSMICTIC_FACE_SKIN' | translate}}
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="material-icons">spa</i>  {{'GENERIC.COSMICTIC_FACE_BODY' | translate}}
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="material-icons">spa</i>  {{'GENERIC.COSMICTIC_FACE_OTHER' | translate}}
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="material-icons">spa</i>  {{'GENERIC.LIPSTICK' | translate}}
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="main main-raised">
        <div class="section section-basic">
            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <!--  End Modal -->
    <footer class="footer ">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="http://presentation.creative-tim.com">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/license">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>, made with <i class="material-icons">favorite</i> by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
            </div>
        </div>
    </footer>
    
</div>